* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.info {
    display: flex;
    background-color: #0979b0;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 50px;
    height: 80px;
    width: 100%;
    padding: 0 80px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}

nav li {
    gap: 50px;
    height: 100%;
    display: flex;
}

nav a {
    text-decoration: none;
    color: gray;
}

nav a:hover {
    color: #0979b0;
}

nav .active {
    color: #0979b0;
}

img { 
    margin-right: 10px;
    float: left;
    max-width: 500px;
    border-radius: 10px;
    
}

.contenedor2 { 
    margin:34px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto2 h2 { 
    font-size: 42px;
}
.texto2 p { 
    padding: 1%;
    border: 2px solid black;
    background-color: rgb(180, 180, 180);
    font-size: 16px;
}

.iconos {
    display: flex;
    gap: 20px;
    cursor: pointer;
}