* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.info {
    display: flex;
    background-color: #0979b0;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 50px;
    height: 80px;
    width: 100%;
    padding: 0 80px;
}

.iconos {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}

nav li {
    gap: 50px;
    height: 100%;
    display: flex;
}

nav a {
    text-decoration: none;
    color: gray;
}

nav a:hover {
    color: #0979b0;
}

nav .active {
    color: #0979b0;
}

section {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contact-form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container label {
    margin-bottom: 5px;
    color: #555;
}

.contact-form-container input,
.contact-form-container textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
}

.contact-form-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0979b0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form-container button:hover {
    background-color: #0b4461;
}

body.night-mode header {
    background-color: #1E1E1E;
}
